html,
body,
* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

:root {
    --products-heading-color: #324d67;
    --products-p-color: #5f5f5f;

    --heroBanner-bgcolor: #dcdcdc;
    --heroBanner-button-bgcolor: #f02d34;
    --heroBanner-button-color: white;
    --heroBanner-headlight-color: white;

    --product-image-bg-color: #ebebeb;
    --produkt-price-color: black;
}

.layout {
    padding: 10px;

    .main-container {
        max-width: 1400px;
        margin: auto;
        width: 100%;
    }
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    margin: 6px 18px;
    position: relative;

    .logo {
        color: gray;
        font-size: 18px;
    }

    .cart-icon {
        font-size: 25px;
        color: gray;
        cursor: pointer;
        position: relative;
        transition: transform 0.4s ease;
        border: none;
        background-color: transparent;

        .cart-item-qty {
            position: absolute;
            right: -8px;
            font-size: 12px;
            color: #eee;
            background-color: #f02d34;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            text-align: center;
            font-weight: 600;
        }
    }

    .cart-icon:hover {
        transform: scale(1.1, 1.1);
    }
}

.products-heading {
    text-align: center;
    margin: 40px 0px;
    color: var(--products-heading-color);

    h2 {
        font-size: 40px;
        font-weight: 800;
    }

    p {
        font-size: 16px;
        font-weight: 200;
    }
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
}

.product-card {
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    color: var(--products-heading-color);

    .product-image {
        border-radius: 15px;
        background-color: var(--product-image-bg-color);
        transform: scale(1, 1);
        transition: transform 0.5s ease;
    }

    .product-name {
        font-weight: 500;
    }
    .product-price {
        font-weight: 800;
        margin-top: 6px;
        color: var(--produkt-price-color);
    }
}
.product-card:hover {
    transform: scale(1.1, 1.1);
}

.footer-banner-container {
    padding: 100px 40px;
    background-color: #f02d34;
    border-radius: 15px;
    position: relative;
    height: fit-content;
    line-height: 1;
    color: white;
    width: 100%;
    margin-top: 120px;

    .banner-desc {
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;

        .left h3 {
            font-weight: 900;
            font-size: 80px;
            margin-left: 25px;
        }

        .left p {
            margin: 18px;
        }

        .right {
            line-height: 1.4;

            h3 {
                font-weight: 800;
                font-size: 60px;
            }

            p {
                font-size: 18px;
            }
        }

        button {
            border-radius: 15px;
            padding: 10px 16px;
            background-color: white;
            color: red;
            border: none;
            margin-top: 40px;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
        }

        .footer-banner-image {
            position: absolute;
            top: -25%;
            left: 25%;
        }
    }
}

.hero-banner-container {
    padding: 100px 40px;
    background-color: var(--heroBanner-bgcolor);
    border-radius: 15px;
    position: relative;
    height: 500px;
    line-height: 0.9;
    width: 100%;

    .hero-banner-upper-text {
        font-size: 20px;
    }

    h3 {
        font-size: 4rem;
        margin-top: 4px;
    }
    h1 {
        color: var(--heroBanner-headlight-color);
        font-size: 10em;
        margin-left: -20px;
        text-transform: uppercase;
    }

    .hero-banner-image {
        position: absolute;
        top: 0%;
        right: 20%;
        width: 450px;
        height: 450px;
    }

    button {
        border-radius: 15px;
        padding: 10px 16px;
        background-color: var(--heroBanner-button-bgcolor);
        color: var(--heroBanner-button-color);
        border: none;
        margin-top: 40px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        z-index: 500 !important;
    }

    .desc {
        position: absolute;
        right: 10%;
        bottom: 5%;
        width: 300px;
        line-height: 1.3;
        display: flex;
        flex-direction: column;
        color: var(--products-heading-color);

        h5 {
            margin-bottom: 12px;
            font-weight: 700;
            font-size: 16px;
            align-self: flex-end;
        }

        p {
            color: var(--products-p-color);
            font-weight: 100;
            text-align: end;
        }
    }
}

.product-detail-container {
    display: flex;
    gap: 40px;
    margin: 40px;
    margin-top: 60px;
    color: #324d67;
    flex-wrap: wrap;
    justify-content: center;

    .image-container {
        .product-detail-image {
            border-radius: 15px;
            background-color: #ebebeb;

            width: 400px;
            height: 400px;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }

        .product-detail-image:hover {
            background-color: #f02d34;
        }
    }

    .small-images-container {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        justify-content: center;

        .small-image {
            border-radius: 8px;
            background-color: #ebebeb;
            width: 70px;
            height: 70px;
            cursor: pointer;
        }

        .selected-image {
            background-color: #f02d34;
        }
    }

    .product-detail-desc {
        .reviews {
            color: #f02d34;
            margin-top: 10px;
            display: flex;
            gap: 5px;
            align-items: center;

            p {
                color: #324d67;
                margin-top: 0px;
            }
        }
        p {
            margin-top: 10px;
        }

        h4 {
            margin-top: 10px;
        }

        .price {
            font-weight: 700;
            font-size: 26px;
            margin-top: 30px;
            color: #f02d34;
        }

        .quantity {
            display: flex;
            gap: 20px;
            margin-top: 10px;
            align-items: center;
            h3 {
                margin-top: 6px;
            }

            .quantity-desc {
                border: 1px solid gray;
                padding: 6px;
                align-items: center;

                span {
                    font-size: 16px;
                    padding: 6px 12px;
                    cursor: pointer;
                }
                .minus {
                    color: #f02d34;
                }
                .num {
                    border-left: 1px solid gray;
                    border-right: 1px solid gray;
                    font-size: 20px;
                }
                .plus {
                    color: rgb(49, 168, 49);
                }
            }
        }

        .buttons {
            display: flex;
            gap: 30px;

            .add-to-cart {
                padding: 10px 20px;
                border: 1px solid #f02d34;
                margin-top: 40px;
                font-size: 18px;
                font-weight: 500;
                background-color: white;
                color: #f02d34;
                cursor: pointer;
                width: 200px;
                transform: scale(1, 1);
                transition: transform 0.5s ease;
            }

            .add-to-cart:hover {
                transform: scale(1.1, 1.1);
            }

            .buy-now {
                width: 200px;

                padding: 10px 20px;
                background-color: #f02d34;
                color: white;
                border: none;
                margin-top: 40px;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                transform: scale(1, 1);
                transition: transform 0.5s ease;
            }

            .buy-now:hover {
                transform: scale(1.1, 1.1);
            }
        }
    }
}

.maylike-products-wrapper {
    margin-top: 120px;

    h2 {
        text-align: center;
        margin: 50px;
        color: #324d67;

        font-size: 28px;
    }
    .marquee {
        position: relative;
        height: 400px;
        width: 100%;
        overflow-x: hidden;

        .maylike-products-container {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-top: 20px;
        }

        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 15s linear infinite;
            width: 180%;
        }

        .track:hover {
            animation-play-state: paused;
        }

        @keyframes marquee {
            from {
                transform: translateX(0);
            }
            to {
                transform: translateX(-50%);
            }
        }
    }
}

.cart-wrapper {
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    /* will-change: transform; */
    transition: all 1s ease-in-out;

    .cart-container {
        height: 100vh;
        width: 600px;
        background-color: white;
        float: right;
        padding: 40px 10px;
        position: relative;

        .cart-heading {
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            gap: 2px;
            margin-left: 10px;
            border: none;
            background-color: transparent;

            .heading {
                margin-left: 10px;
            }
            .cart-num-items {
                margin-left: 10px;
                color: #f02d34;
            }
        }
        .empty-cart {
            margin: 40px;
            text-align: center;

            h3 {
                font-weight: 600;
                font-size: 20px;
            }

            .btn {
                width: 100%;
                max-width: 400px;
                padding: 10px 12px;
                border-radius: 15px;
                border: none;
                font-size: 20px;
                margin-top: 10px;
                margin-top: 40px;
                text-transform: uppercase;
                background-color: #f02d34;
                color: #fff;
                cursor: pointer;
                transform: scale(1, 1);
                transition: transform 0.5s ease;
            }
            .btn:hover {
                transform: scale(1.1, 1.1);
            }
        }
        .product-container {
            margin-top: 15px;
            overflow: auto;
            max-height: 70vh;
            padding: 20px 10px;

            .product {
                display: flex;
                gap: 30px;
                padding: 20px;

                .cart-product-image {
                    width: 150px;
                    height: 150px;
                    border-radius: 15px;
                    background-color: #ebebeb;
                }
            }

            .item-desc {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 350px;
                color: #324d67;

                .top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 10px;

                    h5 {
                        font-size: 24px;
                    }

                    h4 {
                        font-size: 20px;
                    }
                }
                .bottom {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 15px;

                    .quantity-desc {
                        border: 1px solid gray;
                        padding: 6px;
                        align-items: center;

                        span {
                            font-size: 16px;
                            padding: 6px 12px;
                            cursor: pointer;
                        }
                        .minus {
                            color: #f02d34;
                        }
                        .num {
                            border-left: 1px solid gray;
                            border-right: 1px solid gray;
                            font-size: 20px;
                        }
                        .plus {
                            color: rgb(49, 168, 49);
                        }
                    }
                    .remove-item {
                        font-size: 26px;
                        color: #f02d34;
                        cursor: pointer;
                        background: transparent;
                        border: none;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        .cart-bottom {
            position: absolute;
            bottom: 12px;
            right: 5px;
            width: 100%;
            padding: 30px 65px;

            .total {
                display: flex;
                justify-content: space-between;

                h3 {
                    font-size: 22px;
                }
            }

            .btn-container {
                width: 400px;
                margin: auto;

                .btn {
                    width: 100%;
                    max-width: 400px;
                    padding: 10px 12px;
                    border-radius: 15px;
                    border: none;
                    font-size: 20px;
                    margin-top: 10px;
                    margin-top: 40px;
                    text-transform: uppercase;
                    background-color: #f02d34;
                    color: #fff;
                    cursor: pointer;
                    transform: scale(1, 1);
                    transition: transform 0.5s ease;
                }
                .btn:hover {
                    transform: scale(1.1, 1.1);
                }
            }
        }
    }
}

.footer-container {
    color: #324d67;
    text-align: center;
    margin-top: 20px;
    padding: 10px 10px;
    font-weight: 700;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    display: flex;
    justify-content: center;

    bottom: 0;
    right: 50%;
    .icons {
        font-size: 30px;
        display: flex;
        gap: 10px;
    }
}

.success-wrapper,
.cancel-wrapper {
    background-color: white;
    min-height: 100%;

    .success,
    .cancel {
        width: 700px;
        margin: auto;
        margin-top: 160px;
        background-color: #dcdcdc;
        padding: 50px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .icon {
            color: green;
            font-size: 40px;
        }
        h2 {
            text-transform: capitalize;
            margin-top: 15px 0px;
            font-weight: 900;
            font-size: 40px;
            color: #324d67;
        }
        .email-msg {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }

        .description {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            margin: 10px;
            margin-top: 30px;

            .email {
                margin-left: 5px;
                color: #f02d34;
            }
        }
        .btn {
            width: 100%;
            max-width: 400px;
            padding: 10px 12px;
            border-radius: 15px;
            border: none;
            font-size: 20px;
            margin-top: 10px;
            margin-top: 40px;
            text-transform: uppercase;
            background-color: #f02d34;
            color: #fff;
            cursor: pointer;
            transform: scale(1, 1);
            transition: transform 0.5s ease;
        }
        .btn:hover {
            transform: scale(1.1, 1.1);
        }
    }
}

@media screen and (max-width: 1200px) {
    .hero-banner-image {
        max-width: 450px;
        max-height: 450px;
        top: 25%;
        right: 0% !important;
    }

    .footer-banner-image {
        top: -15% !important;
        height: 450px;
        width: 450px;
        overflow: hidden;
    }

    .left {
        h3 {
            font-size: 60px !important;
        }
    }
    .right {
        h3 {
            font-size: 50px !important;
        }
    }
}

@media screen and (max-width: 1000px) {
    .banner-desc {
        .footer-banner-image {
            height: 400px;
            width: 400px;
            overflow: hidden;
        }
        .left,
        .right {
            h3 {
                font-size: 40px !important;
            }
            p {
                font-size: 15px !important;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .hero-banner-container {
        max-height: fit-content;
        line-height: 1.1;
        padding: 50px 30px 10px 30px;
        height: 450px;

        h1 {
            font-size: 100px;
        }
        h3 {
            font-size: 50px;
        }

        .hero-banner-image {
            max-width: 350px !important;
            max-height: 350px !important;
            top: 10%;
            right: 0;
        }
        button {
            margin-top: 50px;
            z-index: 10000;
        }
        .desc {
            bottom: 40px;
        }
    }

    .footer-banner-container {
        height: fit-content;
        margin-top: 80px;

        padding: 30px 30px;

        .banner-desc {
            gap: 20px;
            .left,
            .right {
                h3 {
                    font-size: 30px !important;
                }
                p {
                    font-size: 13px !important;
                }
            }
            .footer-banner-image {
                height: 300px !important;
                width: 300px !important;
            }
            button {
                margin-left: 25%;
                font-size: 15px;
            }
        }
    }

    .product-detail-container {
        flex-wrap: wrap;
        margin: 20px;
        justify-content: space-around;

        .image-container {
            .product-detail-image {
                width: 330px;
                height: 330px;
            }
        }

        .product-detail-desc {
            .buttons .add-to-cart {
                width: 150px;
            }
            .buttons .buy-now {
                width: 150px;
            }
        }
    }
    .cart-wrapper {
        width: 100%;
        height: 100%;
        .cart-container {
            height: 100%;
            .cart-heading {
                margin-top: 25px;
            }

            width: 100%;
            padding: 4px;
            align-items: center;

            .empty-cart {
                margin-top: 150px;
            }

            .cart-bottom {
                padding: 30px;

                .btn-container {
                    width: 200px;
                    margin: auto;

                    .btn {
                        padding: 5px 5px;
                        font-size: 15px;
                        margin-top: 10px;
                        margin-top: 30px;
                        cursor: pointer;
                    }
                }
                .total h3 {
                    font-size: 20px;
                }
            }
        }
        .product-container {
            .product {
                .item-desc {
                    width: 200px;
                    .top {
                        flex-wrap: wrap;
                        gap: 10px;
                    }
                    .bottom {
                        margin-top: 30px;

                        .quantity-desc {
                            padding: 2px;
                            .num,
                            .plus,
                            .minus {
                                padding: 3px 7px;
                            }
                        }
                    }
                }
            }
        }
    }

    .success-wrapper,
    .cancel-wrapper {
        .success,
        .cancel {
            width: 600px !important;
            h2 {
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .footer-banner-container {
        .banner-desc {
            .footer-banner-image {
                height: 400px;
                width: 400px;
                top: -15% !important;
                left: 40% !important;
            }
            .left {
                margin-right: 250px;
            }
            .right {
                margin-left: 50px;
            }
            .left,
            .right {
                h3 {
                    font-size: 40px !important;
                }
                p {
                    font-size: 15px !important;
                }
            }
        }
    }

    .success-wrapper,
    .cancel-wrapper {
        .success,
        .cancel {
            width: 400px !important;
            padding: 35px;
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 14px !important;
            }
            button{
                font-size: 15px !important;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .hero-banner-container {
        padding: 50px 30px 10px 30px;
        height: 400px;

        .hero-banner-image {
            max-width: 300px !important;
            max-height: 300px !important;
            top: 10%;
            right: 0;
        }
        button {
            margin-top: 50px;
            z-index: 10000;
        }
        .desc {
            bottom: 30px;
        }
    }
    .footer-banner-container {
        .banner-desc {
            .footer-banner-image {
                display: inline-block;
                height: 300px !important;
                width: 300px !important;
                top: -15% !important;
                left: 40% !important;
                overflow: hidden;
            }
            .left,
            .right {
                h3 {
                    font-size: 30px !important;
                }
                p {
                    font-size: 15px !important;
                }
            }
        }
    }
    
}

@media screen and (max-width: 450px) {
    .hero-banner-container {
        h1 {
            font-size: 65px;
        }
        h3 {
            font-size: 40px;
        }
        .hero-banner-image {
            max-width: 250px !important;
            max-height: 250px !important;
            top: 20%;
            right: -3% !important;
        }
    }
    .footer-banner-container {
        .banner-desc {
            .footer-banner-image {
                height: 220px !important;
                width: 220px !important;
                top: -5% !important;
                left: 40% !important;
            }

            .left,
            .right {
                h3 {
                    font-size: 27px !important;
                }
                p {
                    font-size: 15px !important;
                }
            }

            .right {
                margin-left: 40px;
            }
        }
    }
    .success-wrapper,
    .cancel-wrapper {
        .success,
        .cancel {
            width: 350px !important;
            padding: 25px;
            h2 {
                font-size: 17px;
            }
            p {
                font-size: 12px !important;
            }
            button{
                margin-top: 20px !important;
                font-size: 12px !important;
                padding: 10px !important;
            }
        }
    }
}
